/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
 html, body, div, h1, h2, h3, h4, h5, h6, form, label,
 legend, caption, aside, details, figcaption, figure, footer,header,
 menu, nav, section, summary {
     margin: 0;
     padding: 0;
     border: 0;
     outline: 0;
     font-weight: inherit;
     font-size: 16px;
     font-style: inherit;
     font-family: 'Roboto', sans-serif;
     vertical-align: baseline;
     text-decoration: none;
 }
 html, body{
     font-family: 'Roboto', sans-serif;
     overflow: hidden;
 }
 body{
     background-color: #484848;
 }

 /****************************
  *          LOGIN           *
  ***************************/
 .overlay{
     position: fixed;
     display: flex;
     flex-flow:column nowrap;
     justify-content:center;
     overflow: hidden;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     /*background-color: rgba(0, 0, 0, 0.8);*/
 }
 .overlay>.container{
     display: flex;
     flex-flow:column nowrap;
     justify-content:center;
 }
 .overlay>*, .overlay>.container>*{
     align-self:center;
 }
 .overlay>.container>*{
     width: 400px;
 }
 #formLogin{
     margin-top: 20px;
 }
 #formLogin .inputForm{
     background-color: #ffffff;
 }
 #formLogin input{
     display: block;
     width: 100%;
     border: none;
     box-shadow: none;
     padding-top: 12px;
     padding-bottom: 12px;
     font-size: 18px;
     text-align: center;
     font-family: 'Roboto', sans-serif;
     font-weight: 300;
 }
 #formLogin input[type='submit']{
     background-color: #000066;
     color: #ffffff;
     cursor: pointer;
 }

 #formLogin > h1{
     font-weight:300;
     margin-bottom:10px;
     text-align: center;
     color: #ffffff;
     font-size: 1.5em;
 }

 * {box-sizing:border-box}

 .mySlides {display: none}
 .mySlides img {vertical-align: middle;}

 /* Slideshow container */
 .slideshow-container {
   max-width: 1000px;
   position: relative;
   margin: auto;
 }

 /* Next & previous buttons */
 .prev, .next {
   cursor: pointer;
   position: absolute;
   top: 50%;
   width: auto;
   padding: 16px;
   margin-top: -22px;
   color: white;
   font-weight: bold;
   font-size: 18px;
   transition: 0.6s ease;
   border-radius: 0 3px 3px 0;
   user-select: none;
 }

 /* Position the "next button" to the right */
 .next {
   right: 0;
   border-radius: 3px 0 0 3px;
 }

 /* On hover, add a black background color with a little bit see-through */
 .prev:hover, .next:hover {
   background-color: rgba(0,0,0,0.8);
 }

 /* The dots/bullets/indicators */
 .dot {
   cursor: pointer;
   height: 15px;
   width: 15px;
   margin: 0 2px;
   background-color: #bbb;
   border-radius: 50%;
   display: inline-block;
   transition: background-color 0.6s ease;
 }

 .active, .dot:hover {
   background-color: #717171;
 }

 /* Fading animation */
 .fade {
   -webkit-animation-name: fade;
   -webkit-animation-duration: 1.5s;
   animation-name: fade;
   animation-duration: 1.5s;
 }

 @-webkit-keyframes fade {
   from {opacity: .4}
   to {opacity: 1}
 }

 @keyframes fade {
   from {opacity: .4}
   to {opacity: 1}
 }

 /* On smaller screens, decrease text size */
 @media only screen and (max-width: 300px) {
   .prev, .next,.text {font-size: 11px}
 }

#logo{
    width: 76%;
    max-width: 960px;
    margin: 0 auto;
}
 /*********************************
  *          PLAYGROUND           *
  *********************************/
main {
  display: none;
}

#tronCanvas{
    position: absolute;
    background: #494d50;
}

#playground{
    position: relative;
    margin: 10px auto;
    border: 2px solid #026897;
}

#info {
  position: absolute;
  top: 35%;
  z-index: 10;
  background: none;
  border: none;
  font-size: 5vw;
  color: #026897;
}

#resdata{
  font-size: 2.5vw;
}
/****************************
 *          FLECHES         *
 ***************************/
#fleches{
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 96%;
    max-width: 960px;
    margin: 0 auto;
}
#fleches .hautBas{
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
}
#fleches .droiteGauche{
    position: fixed;
    left: 10px;
    bottom: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
}
#fleches button{
    text-align: center;
    width: 40px;
    height: 40px;
    font-size: 10vw;
    opacity: 0.5;
}
#fleches #south{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
#fleches #east{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
#fleches #west{
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}